/* まずテーマ本体を読み込む */
@import "{{ site.theme }}";

/* ここからダークモード設定 */
@media (prefers-color-scheme: dark) {

  body {
    background-color: #111 !important;
    color: #eee !important;
  }

  a {
    color: #8fc9ff !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
  }

  /* テーブル */
  table {
    color: #ddd;
  }

  /* code / pre */
  pre, code {
    background-color: #1a1a1a !important;
    color: #f1f1f1 !important;
  }

}
